name: PHPStan

on:
  push:
    paths:
      - '**.php'
      - '.github/workflows/run-lint.yml'

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none

      - name: Install composer dependencies
        uses: ramsey/composer-install@v3

      - name: Run Lint
        run: ./vendor/bin/pint --test -v
